PyQt5==5.15.11
Pillow==10.0.1
requests==2.31.0
# below are only needed for Transformers-models
einops==0.8.0
tensorflow-cpu==2.17.0
transformers==4.45.0
accelerate==0.26.0
bitsandbytes==0.44.0
--upgrade "protobuf<=3.20.1"
